<h2> <%= "Discount of #{@discount.discount}% on #{@discount.items} items." %> </h2>
<%= link_to "Edit Discount", "/merchant/discounts/#{@discount.id}/edit" %>
<%= link_to "Delete Discount", "/merchant/discounts/#{@discount.id}", method: :delete %>
